:root {
    --primary-color: #000000;
    --secondary-color: #4ac9b4;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body{
    color: var(--dark-color)
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}



main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% ;
}

footer{
    padding-right: 1 rem;
}

footer .social>a{
    color:var(--white-color);
    opacity: 75% ;
    
}

footer .social>a:hover{
    opacity: 90%;
    color: var(--secondary-color);
}

.bsicon{
    color:rgb(113,68,167);
}
 
.jsicon{
    color:rgb(247,224,24);
}

.html5icon{
    color:rgb(229,76,33)
}

.css3icon{
    color:rgb(34,153,248)
}

.ckecklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
        pre[class*="language-"] {
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
        }